# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.elf
*.orig
code/lammps1Feb2014/src/Obj_serial/
code/lammps1Feb2014/src/Obj_serial_debug/

#inputscript dir
code/input/*
!code/input/examples/
code/post_processing/snapshot.bubblemd
code/post_processing/0_images/*
!code/post_processing/

code/input/examples/log.lammps

code/input/examples/log.lammps

code/input/examples/log.lammps

code/input/examples/log.lammps

code/input/examples/no2/no2.csv.8000

code/input/examples/no2/no2.csv.8000

code/input/examples/no2/no2.csv.9000

code/input/examples/no3/no3.csv.10000

code/input/examples/o2/o2.csv.5000

code/input/examples/o2/o2.csv.9000

*.8000

code/input/examples/o2/o2.csv.8000

code/input/examples/r-values/r-values.txt

code/input/examples/snapshot.bubblemd

code/input/examples/sub/sub.csv.10000

code/input/examples/sub/sub.csv.9000

code/input/examples/no2/no2.csv.10000

code/input/examples/no2/no2.csv.10000

code/input/examples/no2/no2.csv.10000

code/input/examples/no2/no2.csv.10000

code/input/examples/no2/no2.csv.11000

code/input/examples/no2/no2.csv.12000

code/input/examples/no2/no2.csv.14000

code/input/examples/no2/no2.csv.15000

code/input/examples/no2/no2.csv.7000

code/input/examples/no3/no3.csv.11000

code/input/examples/no3/no3.csv.12000

code/input/examples/no3/no3.csv.13000

code/input/examples/no3/no3.csv.14000

code/input/examples/no3/no3.csv.14000

code/input/examples/no3/no3.csv.15000

code/input/examples/no3/no3.csv.15000

code/input/examples/no3/no3.csv.8000

code/input/examples/no3/no3.csv.9000

code/input/examples/o2/o2.csv.10000

code/input/examples/o2/o2.csv.11000

code/input/examples/o2/o2.csv.12000

code/input/examples/o2/o2.csv.13000

code/input/examples/o2/o2.csv.13000

code/input/examples/o2/o2.csv.14000

code/input/examples/o2/o2.csv.15000

code/input/examples/o2/o2.csv.6000

code/input/examples/o2/o2.csv.7000

code/input/examples/sub/sub.csv.11000

code/input/examples/sub/sub.csv.12000

code/input/examples/sub/sub.csv.13000

code/input/examples/sub/sub.csv.14000

code/input/examples/sub/sub.csv.15000

code/input/examples/sub/sub.csv.8000

code/lammps1Feb2014/src/lmp_serial
